
    
      <div class="card-body">
        <div class="h2">
          {{ author.get_full_name }}
        </div>
        <div class="h3 text-muted">
          <a href="{% url 'profile' author.username %}">@{{ author.username }}</a>
        </div>
      </div>
      <ul class="list-group list-group-flush">
        <li class="list-group-item">
          <div class="h6 text-muted">
            Подписчиков: {{ author.following.count }} <br />
            <a href="{% url 'follow_index' %}">Подписан: {{ author.follower.count }}</a>
          </div>
        </li>
        <li class="list-group-item">
          <div class="h6 text-muted">
            Записей: {{ author.posts.count }}
          </div>
        </li>
      </ul>
